{% extends 'layout/index.html' %} {% load static %} {% block title %} Position
{% endblock title %} {% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0"></h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="#">Home</a></li>
          <li class="breadcrumb-item active">Position Page</li>
        </ol>
      </div>
    </div>

    <!-- Main content -->
    <div class="col-md-6 offset-3">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title mt-2">Position Table</h3>
          <a
            href="{% url 'position_createForm' %}"
            class="btn btn-primary float-right"
            >Create</a
          >
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table class="table table-bordered">
            <thead>
              <tr>
                <th style="width: 10px">ID</th>
                <th>Position Name</th>
                <th style="width: 70px">Status</th>
                <th class="w-auto text-center">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for position in positions %}
              <tr>
                <td>{{ position.id }}</td>
                <td>{{ position.name }}</td>
                <td>
                  <span class="badge bg-success">{{ position.status }}</span>
                </td>
                <td class="p-2 text-center">
                  <a
                    href="edit_position/{{ position.id }}"
                    class="btn btn-warning w-25"
                    >Edit</a
                  >
                  <a
                    onclick="delete_position('{{ position.id }}')"
                    class="btn btn-danger w-25"
                  >
                    Delete
                  </a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
        <div class="card-footer clearfix">
          <ul class="pagination pagination-sm m-0 float-right">
            <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
          </ul>
        </div>
      </div>
    </div>

    <!-- /.content -->
  </div>
</div>
<script>
  function delete_position(id) {
    Swal.fire({
      title: "Are you sure?",
      text: "Delete this position",
      icon: "warning",
      showCancelButton: true,
      confirmButtonColor: "#3085d6",
      cancelButtonColor: "#d33",
      confirmButtonText: "Yes, delete it!",
    }).then((result) => {
      if (result.isConfirmed) {
        window.location.href = "delete_position/" + id;
      }
    });
  }
</script>
{% endblock %}
